.calltoaction_text {
  height: 12vh;
  padding-top: 20vh;
  margin-top: 1vh;
  /* padding-left: 1rem; */
  border-radius: 10rem;
  font-size: 40px;
  color: black;
}

/* The main slogan on the homepage */