* {
    font-family: montserrat, sans-serif;


}
.login-input {
    width: 60%;
    box-sizing: border-box;
  }

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }

 .form-inner {
    text-align: center;
    width: 500px;
    position: relative;
    height: 450px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    background: linear-gradient(0deg, rgb(190, 189, 190) 0%,rgb(71, 71, 71), rgb(45, 45, 45) 40%);
    display:flex;
    align-items: center;
    flex-direction:column;
    
 }
 .form-group{
     width: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

.login-title {
    padding-top: 69px;
    font-size: 60px;
    color: white;
 }

.login-btn{
    border:white;
    text-align: center;
    text-decoration: none;
}

.login-btn:hover {
    cursor: pointer;
    background: linear-gradient(
    90deg,
    rgb(235, 188, 32) 0%,
    rgb(189, 106, 18) 100%
    );
    transition: all 0.4s ease-out;
}