.signup {
    height: calc(100vh - 70px);
}

.signup-title {
    font-size: 50px;
    color:white;

}

.text {
    padding-bottom: 350px;
    color:white;
    font-size: 18px;


}

.signup {
    margin: 100px auto;
    padding-top: 50px;
    text-align: center;
    width: 500px;
    position: relative;
    height: 500px;
    display: grid;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    background: linear-gradient(0deg, rgb(190, 189, 190) 0%,rgb(71, 71, 71), rgb(45, 45, 45) 40%);
}

.test {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    border:orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;

}

.signup-btn:hover {
    cursor: pointer;
    background: linear-gradient(
    45deg,
orange,
orangered
    );
    transition: all 0.6s ease-out;
    color:white;
}

.signup-btn {
    width: 60%;
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }