.userProfile_container {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    height: calc(100vh - 70px);
    min-height: 800px;

    margin-top: 70px;
}

.userProfile_display-link-container {
    border-top: 3px solid lightgray;
    flex: .70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfile_phone-display-links {
    border: 10px solid green;
    height: 500px;
    width: 250px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.userProfile_add-link-container {
    border: 3px solid lightgray;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userProfile_button-container {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.userProfile_button {
    width: 150px;
    /* height: 2rem; */
    cursor: pointer;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 10px;
}

.userProfile_cards-container {
    /* border: 3px solid grey; */
    /* width: 80%; */
    margin: 1rem 0;
}

.userProfile_card {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin: 8px 0;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
}

.userProfile_inputs {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
}

.userProfile_input {
    margin: 1rem 0;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 3px;
}

.userProfile_link-card {
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 90px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 0;
}

.userProfile_link-mobile-display {
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 220px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfile_link-mobile-a {
    text-decoration: none;
}

.userProfile_link-card-name {
    display: flex;
}

.userProfile_link-card-url {
    display: flex;
}

.userProfile_link-card-button {
    margin-left: 10px;
}

.userProfile_input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.userProfile_input-container label {
    font-size: 25px;
    margin-right: 10px;
}

.userImage-container {
    margin: 10px 0;
}

.userImage-container img {
    border-radius: 50%;
    height: 95px;
}